{% extends "main/base.html" %}
{% block title %} Analizza Ricetta {% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container mx-auto col-md-10">
  <div class="card" style="width: 80%">
      <img class="card-img-top" src="{{ricetta.strMealThumb}}" alt="Recipe">
      <div class="card-body">
        <h5 class="card-title">{{ricetta.strMeal}}</h5>
        <p class="card-text"><h5>Preparazione:</h5><br>{{ricetta.strInstructions}}<hr><h5>Ingredienti:</h5></p>
        <ul class="list-group list-group-flush">  
          {% for ingrediente, misura in ingredienti.items %}
          <li class="list-group-item">{{misura}} of {{ingrediente}}</li>
          {% endfor %}
      </ul>
      <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#save" onclick="$('#save').attr('href', '/salvaric/{{ricetta.idMeal}}')">Salva ricetta</button>
      <!-- <a href="/salvaric/{{ricetta.idMeal}}" class="btn btn-success btn-lg m-3">Salva Ricetta</a> -->
      </div>
      
    </div>
</div>


<!-- Modal-->
<div class="modal fade" id="save" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Elimina ricettario</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <p>In quale dei tuoi ricettario vorresti salvare la ricetta?<br><hr></p>
          <form method="POST" class="form-group">
          {% csrf_token %}
          {{form|crispy}}
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
          <button type="submit" class="btn btn-danger">Salva Ricetta!</button>
          </form>
        </div>
      <div class="modal-footer">  
      </div>
    </div>
  </div>
</div>

{% endblock %}