{% extends "main/base.html" %}
{% block title %}{{ricetta.ricetta_nome}}{% endblock %}
{% load crispy_forms_tags %}

{% block content %}

<div class="row m-1">
{% if ricette|length < 1 %}
<button class="btn btn-outline-danger btn-lg mx-auto" disabled>Nessuna ricetta salvata.</button>
{% elif ricette|length > 0 %}

{% for ricetta in ricette %}
<div class="container col-md-4">
  <section class="mx-auto" style="max-width: 30rem;">
    <div class="card bg-dark text-white">
      <div class="bg-image hover-overlay ripple" data-mdb-ripple-color="light">
        <img src="/media/{{ricetta.ricetta_immagine}}" class="img-fluid"/>
        <a href="#">
          <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
        </a>
      </div>
      <div class="card-body">
        <h5 class="card-title" style="font: font-weight-bold"><strong>{{ricetta.ricetta_nome}}</strong></h5>
        <p class="card-text" style="font-size: 10px;">
          {{ricetta.ricetta_descrizione}}
        </p>
        <hr class="my-4"/>
        <div class="row">
        <a href="/visual_ricetta/{{ricetta.id}}" class="btn btn-sm btn-outline-info mb-1"><strong>Apri ricetta</strong></a>
        <a href="/elimina_ricetta/{{ricetta.id}}" class="btn btn-sm btn-danger mt-1"><strong>Elimina ricetta</strong></a>
      </div>
      </div>
    </div>  
  </section>
</div>
{% if forloop.counter|divisibleby:3 %}
</div>
<div class="row m-2">
{% endif %}
{% endfor %}
</div>
{% endif %}
{% endblock %}