{% extends "main/base.html" %}
{% block title %}Sezione Esplora{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container mx-auto">
  <div class="row m-2">
  <form method="POST", class="form-group"> 
  {% csrf_token %}
  {{form|crispy}}
  <button type="submit" class="btn btn-info"><i class="fa-solid fa-magnifying-glass"></i></button>
  </form>
</div>

  <div class="row m-2">
    <div class="row m-2">
      {% for ricetta in ricette %}
      <div class="container col-md-3">
        <section class="mx-auto my-5" style="max-width: 15rem;">
        <div class="card mb-3">
          <img class="card-img-top" src="{{ricetta.strMealThumb}}" alt="">
          <div class="card-body">
            <h5 class="card-title">{{ricetta.strMeal}}</h5>
            <div class="card-text">
            <a class="btn btn-sm btn-info" href="/apriric/{{ricetta.idMeal}}">Open</a>
          </div>
          </div>
        </div>
        </section>
        </div>
      {% if forloop.counter|divisibleby:4 %}
      </div>
      <div class="row m-2">
      {% endif %}
  
      {% endfor %}
  
{% endblock %}